.navigate-btn {
  display: inline-block;
  margin: 20px ;
  padding: 10px 20px;
  background-color: #007bff;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navigate-btn a {
  color: white;
  text-decoration: none;
}

.navigate-btn:hover {
  background-color: #0056b3;
}

.table-container {
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}


.filters input {
  width: 250px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.filters input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

}
th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.reminder-row {
  background-color: #f9f9f9;
}

.reminder-table {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;

}
th {
  background-color: #28a745;
  color: white;
}

td,
th {
  padding: 10px;
  text-align: center;
}
